@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import "tailwindcss";

@utility btn {
  @apply bg-amber-800 text-2xl px-5 py-3;
}

@layer components {
  .container {
    @apply mx-auto px-[15px];
  }
}
:root {
  --color-background: #ffffff;
  --color-second-background: #f5f7fa;
  --color-border: #e0e5eb;
  --color-text-main: #181d25;
  --color-text-second: #333d4c;
  --color-heading: #181d25;
  --color-icon: #333d4c;
}

@theme {
  --font-display: "Cairo", sans-serif;
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 922px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* MyStyles */
  --color-background: var(--background);
  --color-border: var(--border);
  --color-text: var(--text);
  /* ... */
}

.dark {
  --color-background: #000;
  --color-border: #fff;
  --color-text: #fff;
}

body {
  font-family: var(--font-display);
}
