/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* @utility btn {
  @apply bg-amber-800 text-2xl px-5 py-3;
} */

@layer components {
  .container {
    @apply mx-auto px-[15px];
  }
}
:root {
  --color-app-background: #ffffff;
  --color-background-main: #ffffff;
  --color-background-second: #f6f9fc;
  --color-border-color: #e0e5eb;
  --color-text-main: #181d25;
  --color-text-second: #333d4c;
  --color-heading: #181d25;
  --color-icon: #333d4c;
  --color-button-background: #222934;
  --color-footer-background: #222934;
  --color-button-main: #f55266;
  --box-shadow-dark: 0 8px 30px -4px #080b12;
}

@theme {
  /* --font-display: "Cairo", sans-serif; */
  --font-display: "Inter", sans-serif;
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 922px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  /* MyStyles */
  --color-app-background: var(--app-background);
  --color-background-main: var(--background-main);
  --color-background-second: var(--background-second);
  --color-border-color: var(--border-color);
  --color-text-main: var(--text-main);
  --color-text-second: var(--text-second);
  --color-heading: var(--heading);
  --color-icon: var(--icon);
  --color-button-background: var(--button-background);
  --color-footer-background: var(--footer-background);
  --color-button-main: var(--button-main);
  --box-shadow: 0 8px 30px -4px #080b12;
  /* ... */
}

.dark {
  --color-app-background: #181d25;
  --color-background-main: #222934;
  --color-background-second: #2d343e;
  --color-border-color: #333d4c;
  --color-text-main: #d3d4d6;
  --color-text-second: #e0e5eb;
  --color-heading: #ffffff;
  --color-icon: #e0e5eb;
  --color-button-background: #ffffff;
  --box-shadow: 0 8px 30px -4px #676f7b;
}

* {
  transition: background-color 0.3s ease;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-app-background);
  /* height: 5000px; */
}

.active {
  color: #f55266;
}
