@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .btn-shadow {
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(254, 105, 106, 0.9);
  }
}

@layer components {
  .container {
    @apply mx-auto px-[15px];
  }
}
:root {
  --color-app-background: #ffffff;
  --color-background-main: #ffffff;
  --color-background-second: #f6f9fc;
  --color-border-color: #e0e5eb;
  --color-text-main: #181d25;
  --color-text-second: #333d4c;
  --color-heading: #181d25;
  --color-icon: #333d4c;
  --color-button-background: #222934;
  --color-footer-background: #222934;
  --color-button-main: #f55266;
  --box-shadow-dark: 0 8px 30px -4px #080b12;
  --color-banner-blue: #e8f2fc;
  --color-banner-orange: #f7f1ed;
  --color-banner-green: #e4f6f1;
  --color-text-blue: #69b3fe;
  --color-text-orange: #69b3fe;
  --color-text-green: #69b3fe;
}

@theme {
  --font-display: "Rubik", sans-serif;
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 922px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  /* MyStyles */
  --color-app-background: var(--app-background);
  --color-background-main: var(--background-main);
  --color-background-second: var(--background-second);
  --color-border-color: var(--border-color);
  --color-text-main: var(--text-main);
  --color-text-second: var(--text-second);
  --color-heading: var(--heading);
  --color-icon: var(--icon);
  --color-button-background: var(--button-background);
  --color-footer-background: var(--footer-background);
  --color-button-main: var(--button-main);
  --box-shadow: 0 8px 30px -4px #080b12;
}

.dark {
  --color-app-background: #181d25;
  --color-background-main: #222934;
  --color-background-second: #2d343e;
  --color-border-color: #333d4c;
  --color-text-main: #d3d4d6;
  --color-text-second: #e0e5eb;
  --color-heading: #ffffff;
  --color-icon: #e0e5eb;
  --color-button-background: #ffffff;
  --box-shadow: 0 8px 30px -4px #676f7b;
}

* {
  transition: background-color 0.3s ease;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-app-background);
}

.active {
  color: var(--color-button-main);
}

/* swiper styles */
.swiper {
  height: 500px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--color-button-main);
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--color-button-main);
}

@media (max-width: 768px) {
  .swiper {
    height: auto;
  }
}
